<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>❌ Word Not Found</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button id="themeToggle">🌙 Dark Mode</button>

<div class="card main-card">
    <h1>😬 Word Not Found!</h1>
    <p>"{{ word }}" is not in the dictionary.</p>

    <div class="button-group">
        <a href="/dictionary">Try Again</a>
        <a href="/">🏠 Home</a>
    </div>
</div>


<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
